*{
    padding: 0;
    margin: 0;
}

body{

    background: #b5e7a0 ; 
    font-family: "Architects Daughter";
    font-size: 24px;
}

.container{
    width: 95%;
    margin: auto;
}

.container1{
    margin:auto;

}
.container2{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin:auto;
}

.container3{
    display:none;
    position: absolute;
    top: 26%;
    left: 40%;
}

textarea{
    box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
    outline:none;
    border: none;
    width: 275px;
    height: 275px;
    padding: 40px 25px 25px 25px;

}

svg{
    color: gray;

}

#check_icon{
    position:absolute;
    right:17%;
    top:4%;
}

#x_icon{
    position:absolute;
    right:5%;
    top:4%;
}
